<!--The content below is only a placeholder and can be replaced.-->

<p>{{date | date:'mediumDate'}}</p>
<h3> William Peak, Interpolation without Ng Model </h3>

<!--
          Interpolation uses template expressions in double curly braces to
          display data from the component class and template reference
          variables.
          I use these Template Reference variable to capture object state,
          whicl allows me to update the componet attributes from the HTML
          control.
     -->
<h4> Two Field Calcuator </h4>
<p>
    <input #numInt1 type="number" value={{a}} #refTypeA (input)="0">
    <!--      using a Reference variable to reinforce classs lecture and
              provide processing state between the Angjular Typescript
              Component / MOdel and the HTML Controls       -->
    <input id="operatorNg" class="Center" (click)="resetOperator()" type="string" value="{{operator}}" #operatorTmpRefType>
    <input #numInt2 type="number" value="{{b}}" #refTypeB (input)="0">
</p>

<table>
    <tr>
        <td>
            <button id="btnInterpolationUpdat" type="button" (click)="calculateUpdate(operatorTmpRefType.value,refTypeA.value,refTypeB.value)">Compute</button>
        </td>
        <td> Results:
        </td>
        <td> <input class="form-control" type="test" placeholder="Enter value " [value]="result">
        </td>
        <td> <input id="divideByZero" class="HideControl" type="test" placeholder="" [value]="ErrorMsg">
        </td>
    </tr>
</table>